.App {
  text-align: center;
}
.blue {
  color:blue;
}
.italic {
  font-style: italic;
}

.Button {
  background-color: #40d6a3;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s ease;
}
